<% include public/views/header.ejs %>
<div id="login">
<div>
    <div id="epLogo">
        <img src="public/images/icon.512.png" alt="Exponential Banking Logo">
    </div>
</div>
<form class="was-validated">
    <div class="form-group">
        <label for="uname">Username:</label>
        <input type="text" autocomplete="username" class="form-control" id="uname" placeholder="Enter username" name="uname" required>
    </div>
    <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" autocomplete="current-password" class="form-control" id="pwd" placeholder="Enter password" name="pswd" required>
    </div>
    <button type="button" class="btn btn-primary" id="submit">Submit</button>
</form>
</div>

<div id="welcomePage" style="display: none">
    <h1 id="welcomeUsername"></h1>
<aside class="accountSec" id="checkingSection">
    <h3>Checking Account</h3>
    <h3 id="checkingAccount"></h3>
    <button id="moreChecking" type="button" class="moreBtn" >More</button>
</aside>
    <aside class="accountSec" id="savingsSection">
    <h3>Savings Account</h3>
    <h3 id="savingsAccount"></h3>
        <button id="moreSavings" type="button" class="moreBtn" >More</button>
    </aside>
</div>

<div id="checkingAccountMore" style="display: none">
    <h1 class="accountHeading">Checking Account</h1>
    <h2 class="accounts" id="checkingAccount1"></h2>
    <input type="number" class="amountInput" id="checkAmountInput" placeholder="Enter Amount $">
    <button id="checkingTransferBtn" type="button" class="transferBtn" >Transfer</button>
    <button id="checkingDepBtn" type="button" class="depBtn" >Deposit</button>
    <button id="checkingWithBtn" type="button" class="withBtn" >Withdraw</button>
    <button id="checkingDebBtn" type="button" class="debBtn" >Debit</button>
    <h3 class="transList" id="checkTransList"></h3>
    <button id="checkBackBtn" type="button" class="backBtn">< Go back to welcome page</button>
</div>

<div id="savingsAccountMore" style="display: none">
    <h1 class="accountHeading">Savings Account</h1>
    <h2 class="accounts" id="savingsAccount1"></h2>
    <input type="number" class="amountInput" id="saveAmountInput" placeholder="Enter Amount $">
    <button id="savingsTransferBtn" type="button" class="transferBtn" >Transfer</button>
    <button id="savingsDepBtn" type="button" class="depBtn" >Deposit</button>
    <button id="savingsWithBtn" type="button" class="withBtn" >Withdraw</button>
    <button id="savingsDebBtn" type="button" class="debBtn" >Debit</button>
    <h3 class="transList" id="saveTransList"></h3>
    <button id="saveBackBtn" type="button" class="backBtn" >< Go back to welcome page</button>
</div>




    <div id="installBanner">
        <div class="grid-x grid-padding-x grid-padding-y">
            <div class="cell small-12 large-12 text-center">
                <input type="submit" class="button large expanded bdh-btn" id="installButton" value="Install to Homescreen">
            </div>
        </div>
    </div>




<% include public/views/footer.ejs %>

