#epLogo{
    margin: auto;
    margin-top: 2px;
    width: 25%;
    border: 3px solid lightseagreen;
    padding: 10px;
}

#installButton {
    position:fixed;
    bottom:5px;
    right:5px;
}

div, img {
    width: 100%;
}
#inputDiv {
    margin: auto;
}
.form-group {
    margin-top: 1em;
}
body {
text-align: center;
    background-color: whitesmoke;
}
.btn-primary {
    margin-top: 1em;
}

#welcomePage, h1{
    font-family: "Californian FB";
}
#welcomeUsername{
    text-shadow: 2px 2px 5px lightseagreen;
}

#checkingSection {
    box-shadow: 10px 10px 5px grey;
    float: right;
    margin-right: 4em;
    border: 3px solid lightseagreen;
    padding: 2em .75em;
}

#savingsSection {
    box-shadow: 10px 10px 5px grey;
    float: left;
    margin-left: 4em;
    border: 3px solid lightseagreen;
    padding: 2em 1em;
}
.accountHeading{
    text-shadow: 2px 2px 5px lightseagreen;
}

@media only screen and (max-width: 567px) {
    #epLogo{
        width: 50%;
    }
    #checkingSection {
        float: none;
        margin-right: auto;
        margin-top: 20%;
        margin-bottom: 20%;
        padding: unset;
    }
    #savingsSection {
        float: none;
        margin-left: auto;
        margin-top: 20%;
        margin-bottom: 20%;
        padding: unset;
    }
    .moreBtn {
        margin-bottom: 1em;
    }
    .amountInput{
        width: 95%;
        margin-bottom: 1em;
    }
}